@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #02061A;
    font-family: "Outfit", sans-serif;
}

.ellipse {
    position: absolute;
    width: 590px;
    height: 594px;
    top: -245px;
    left: -103px;
    background: #54C5ADF2;
    filter: blur(150px);
}

header {
    display: flex;
    justify-content: space-between;
    width: 1060px;
    margin: 92px auto 0 auto;
    height: 35px;
    align-items: flex-end;
}

header h2 {
    width: 87px;
    height: 34px;
    top: 92px;
    left: 192px;
    color: #FFFFFF;
    z-index: 1;
}

header ul {
    width: 420px;
    display: flex;
    justify-content: space-between;
}

header li {
    list-style-type: none;
    height: 25px;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

main {
    display: flex;
    width: 1035px;
    height: 498px;
    margin: 188px auto 0 auto;
}

main h1 {
    margin-top: 138px;
    width: 522px;
    height: 233px;
    text-transform: capitalize;
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    text-align: left;
    color: white;
}

.btn-sell {
    background-color: #23263C;
    width: 256px;
    height: 95px;
    border-radius: 50px;
    font-size: 27px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
    margin-top: 31px;
}

.btn-buy {
    border: 3px solid #23263C;
    background-color: #02061A;
    border-radius: 50px;
    width: 256px;
    height: 95px;
    font-size: 27px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin: 31px 0 0 22px;
}

main img {
    width: 467px;
    height: 461px;
    border-radius: 10px;
}

.featured {
    display: flex;
    width: 1060px;
    height: 38px;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    color: white;
    margin: 216px auto 0 auto;
    text-transform: uppercase;
}

.coins {
    width: 1065px;
    height: 125px;
    margin: 8px auto 0 auto;
    border: 1px solid #5BD2BD;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.coins ul {
    width: 100%;
    display: flex;
    color: rgba(255, 255, 255, 0.32);
    justify-content: space-around;
    align-items: center;
}

.coins li {
    list-style-type: none;
    font-size: 27px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
}

section {
    display: flex;
    width: 1065px;
    height: 634px;
    margin: 197px auto 0 auto;
}

section img {
    width: 428px;
    height: 480px;
    margin: 60px 55px 0 50px;
}

section h2 {
    width: 542px;
    height: 219px;
    font-size: 60px;
    font-weight: 700;
    line-height: 73px;
    text-align: left;
    color: #FFFFFF;
}

section > div > p:nth-of-type(1) {
    width: 521px;
    height: 62px;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    text-align: left;
    color: #4C99BB;
}

section > div > p:nth-of-type(2) {
    width: 418px;
    height: 100px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    color: white;
    display: flex;
    align-items: flex-end;
}

.buttons {
    position: relative;
}

.content button {
    width: 126px;
    height: 68px;
    border-radius: 16px;
    background-color: #02061A;
    color: white;
    font-size: 25px;
    font-weight: 700;
    line-height: 31px;
    text-align: center;
    border: 1px solid #56CAB1;
    margin-top: 8px;
}
.content span{
    margin-left: 3px;
    text-decoration: line-through;
}
.content svg{
    margin: 0 10px 0 10px;
}

.content .btn-border {
    width: 126px;
    height: 68px;
    border-radius: 16px;
    z-index: 1;
    position: absolute;
    left: 6px;
    bottom: -8px;
    background-color: transparent;
}

.bottom {
    margin-top: 40px;
    width: 521px;
    height: 132px;
    border-radius: 18px;
    background: #3A5B6A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    color: white;
    text-align: center;
}

.bottom > .inside > p:nth-of-type(2) {
    margin-top: 20px;
}

.cards {
    width: 1060px;
    height: 728px;
    margin: 74px auto 0 auto;
    display: flex;
}

.cards h3 {
    width: 465px;
    height: 212px;
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    color: white;
    margin-top: 361px;
}

.left > button {
    height: 96px;
    width: 450px;
    margin-top: 58px;
    border-radius: 100px;
    border: 3px #54C5ADF2 solid;
    background: #1F143B;
    color: #56CAB1;
    font-size: 50px;
    font-weight: 700;
    line-height: 63px;
}
.monkey-cards{
    width: 100%;
    position: relative;
    z-index: -10;
}
.card-front {
    width: 375px;
    height: 507px;
    background: #89828280;
    margin: 147px 0 74px auto;
    border-radius: 10px;
}
.card-front img {
    width: 374px;
    height: 358px;
}

.card-front h5 {
    color: #56CAB1;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin: 12px 0 0 29px;
    text-shadow: -2px -2px 0 #02061A, 2px -2px 0 #02061A, -2px 2px 0 #02061A, 2px 2px 0 #02061A;
}
.card-front p{
    color: white;
    font-size: 27px;
    font-weight: 700;
    line-height: 34px;
}
.card-front span, .card-behind span {
    color: #23263C;
}
.free p{
    font-size: 35px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.free{
    display: flex;
    align-items: center;
    margin: 15px 0 0 14px;
}
.free button{
    width: 147px;
    height: 51px;
    margin-left: 20px;
}
.card-front button{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    width: 148px;
    height: 51px;
    border-radius: 3px;
    border: 2px;
    background: #1F143B;
    color: #52A7C6;
    box-shadow: inset 0 0 0 2px black;
    text-shadow: -1px -1px 0 #02061A, 1px -1px 0 #02061A, -1px 1px 0 #02061A, 1px 1px 0 #02061A;
}
.card-behind{
    top: 60px;
    right: 260px;
    background: #89828280;
    width: 382px;
    height: 466px;
    border-radius: 10px;
    z-index: -1;
    color: white;
    position: absolute;
    transform: rotate(-25.34deg);
}
.card-behind img{
    position: absolute;
    transform: rotate(25.34deg);
    border-radius: 5px;
    left: -48px;
    top: -65px;
}
.card-behind h5 {
    position: absolute;
    top: 340px;
    color: #56CAB1;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin: 12px 0 0 29px;
    text-shadow: -2px -2px 0 #02061A, 2px -2px 0 #02061A, -2px 2px 0 #02061A, 2px 2px 0 #02061A;
}
.card-behind .position{
    position: absolute;
    top: 400px;
    left: 10px;
}
.testmonial{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 427px;
    margin: 243px auto 0 auto;
    color: white;
    text-align: center;
}
.testmonial h4{
    margin-bottom: 14px;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    color: #5BD2BF;
}
.testmonial p{
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    text-align: center;
    color: white;
}
.founders{
    width: 1063px;
    height: 360px;
    margin: 147px auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.card-person{
    position: relative;
    width: 345px;
    height: 360px;
    border-radius: 10px;
    background: #24293F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-person img{
    filter: grayscale(100%);
    left: 95px;
    top: -75px;
    border-radius: 50%;
    position: absolute;
}
.card-person h3{
    margin: 8px 0 27px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: white;
}
.card-person p{
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: white;
}
.gradient{
    width: 1063px;
    height: 378px;
    border-radius: 20px;
    margin: 208px auto 0 auto;
    background: linear-gradient(96.97deg, #1F143B -19.45%, #3C8273 103.56%);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gradient h4{
    width: 312px;
    height: 180px;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: white;
    margin: 24px 0 39px 0;
}
.gradient button{
    width: 344px;
    height: 85px;
    border-radius: 50px;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    border: none;
    background: #000000;
    color: white;
}
footer{
    display: flex;
    justify-content: space-between;
    margin: 260px auto 0 auto;
    width: 1063px;
    height: 351px;
}
footer div h5{
    font-size: 25px;
    font-weight: 700;
    line-height: 31px;
    text-align: left;
    color: white;
}
.line{
    text-decoration: line-through;
}
footer ul{
    list-style-type: none;
}
footer:first-of-type(div) h5{
    list-style-type: none;
}
footer li{
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: white;
    margin-top: 22px;
}
footer .btn-email{
    background: #3B7C70;
    width: 253px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-email p{
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: white;
    margin-left: 12px;
}
.btn-email button{
    width: 100px;
    height: 58px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: white;
    border: none;
    background: #262E48;
}






